

  <!-- Masthead -->
  <header class="masthead">
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-10 align-self-end">        
              <div class="container align-items-center justify-content-center text-center d-flex">
                <div class="container">
                  <U><h2>Profil de <%= @users.find(params['id']).first_name  %></h2></U><br/>
                  <%= image_tag("profil.jpg", class: "figure-img rounded user") %>
                </div>
                <div class="container align-left">
                  Nom complet : <%= @users.find(params['id']).first_name  %> <%= @users.find(params['id']).last_name  %><br><br>
                  Email : <%= @users.find(params['id']).email  %><br><br>
                  Age : <%= @users.find(params['id']).age  %> ans<br><br>
                  City : <%= @users.find(params['id']).city.name  %><br><br>
                  Description : <%= @users.find(params['id']).description  %><br> <br>
                </div>
              </div>    
          </div>
          <div class="col-lg-8 align-self-baseline">          
          </div>
        </div>
  </header>

    <!-- Section -->
  <section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">Gossip</h2>
      <hr class="divider my-4">
      <div class="container d-flex flex-wrap justify-content-around">
        <% @gossips.where(user_id:params['id']).each_with_index do |gossip,index| %>
          <div class="card mt-5" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><%= gossip.title.capitalize %><br/></h5>
                <h6 class="card-subtitle mb-2 text-muted">Auteur : <%= gossip.user.first_name %><br/></h6><br/>
                <p class="card-text"><%= gossip.content%></p>
                <hr class="divider my-4"><br>
                <a class="btn btn-primary btn-update" href="<%=gossip_path(gossip.id)%>" role="button">Voir</a>
                <% if gossip.user == current_user %>
                <a class="btn btn-success" href="<%=edit_gossip_path(gossip.id)%>" role="button">Editer</a>
                <a class="btn btn-warning" href="<%=gossip_path(gossip.id)%>" role="button" data-confirm="Etes-vous sur?" data-method="DELETE" >Supprimer</a>
                <%end%>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </section>


