

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <div class="container">
            <div class="card text-center">
              <div class="card-header">
                 
              </div>
              <div class="card-body">
                <h4 class="card-title">Crée ton Gossip</h4><br/>
                <p class="card-text">  
                
                <%= form_for @newgossip do |f| %>

                <div class="form-group">
                  <%= label_tag 'Title' %>
                  <%= text_field_tag 'title', '', class: 'form-control' %>
                  <br /> <br />
                </div>

                <div class="form-group">
                  <%= label_tag 'Body' %>
                  <%= text_area_tag 'content', '', class: 'form-control' %>
                  <br /> <br />
                </div>

                <button type='submit' class="btn btn-update"> Créer le Gossip </button>
                

                <%end%>
                </p>
                <div class="text-muted">
                  
                </div><br/>
                
              </div>
              <div class="card-footer text-muted">


              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5"></p>
          
        </div>
      </div>
    </div>
  </header>






